.comment {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.imageContainer {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}



.info {
    display: flex;
}

.info p {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
}

.info span {
    margin-left: 30px;
    font-size: 12px;
    color: #8e8e8e;
}

.textContainer {
    width: 100%;
}

.textContainer p {
    padding: 5px 10px;
    width: 100%;
    font-size: 14px;
    margin: 0;
}

.textContainer button {
    border: none;
    outline: none;
    text-decoration: none;
    color: #8e8e8e;
    font-size: 12px;
}