.titleBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.closeModal {
    width: 40px;
    height: 40px;
}

.title {
    transition: all 0.3s;
}

.title:hover {
    color: #4b4b4b;
    cursor: pointer;
}

.titleInput {
    width: 100%;
    margin-right: 20px;
    padding: 5px 10px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    box-shadow: 1px 1px 8px 1px rgba(34, 60, 80, 0.17);
}

.titleInput:hover {
    background-color: #f4f4f4;
}

.titleInputBox {
    width: 100%;
    margin-right: 20px;
    display: flex;
}

.titleBox h4 {
    font-weight: 700;
}

.taskBox h5 {
    font-weight: 700;
}

.taskBox h5 p {
    font-weight: 400;
    font-size: 16px;
}

.commentBox {
    display: flex;
    padding-top: 10px;
}

.commentBox img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.commentBox textarea {
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 8px 1px rgba(34, 60, 80, 0.17);
    border: none;
    cursor: pointer;
}

.commentBox textarea:hover {
    background-color: #f4f4f4;
}

.commentInputBox {
    width: 100%;
    margin-left: 10px;
}



.descriptionInputBox textarea {
    width: 100%;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #fff;
    box-shadow: 1px 1px 8px 1px rgba(34, 60, 80, 0.17);
    margin-bottom: 5px;
    border: none;
}

.descriptionInputBox button {
    margin-bottom: 20px;
}

.descriptionText {
    transition: ease-out 0.6s;
}

.descriptionText:hover {
    font-weight: 500;
    cursor: pointer;
}