.titleBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.titleBox h4 {
    font-weight: 700;
}

.taskBox h5 {
    font-weight: 700;
}

.taskBox h5 p {
    font-weight: 400;
    font-size: 16px;
}

.commentBox {
    display: flex;
    padding-top: 10px;
}

.commentBox img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.commentBox textarea {
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 8px 1px rgba(34, 60, 80, 0.17);
    border: none;
    cursor: pointer;
}

.commentBox textarea:hover {
    background-color: #f4f4f4;
}

.commentInputBox {
    width: 100%;
    margin-left: 10px;
}