.workspace {
    display: flex;
    padding: 30px;
}

.processes {
    margin-left: 12px;
}

.backgroundImage {
    position: absolute;
    z-index: -1;
}

.backgroundImage img {
    width: 100%;
    margin-top: -60px;
    height: auto;
}


.addAnotherlistContainer {
    width: 300px;
    min-width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-left: 12px;
    border-radius: 5px;
    background-color: rgb(0 0 0 / 67%);
    color: #fff;
}

.addAnotherlistContainer:hover {
    background-color: rgb(158, 162, 167);
    cursor: pointer;
}

.addAnotherlistContainer p {
    margin: 0;
}

.addAnotherlistContainer p span {
    margin-right: 10px;
}

.createList {
    width: 300px;
    min-width: 300px;
    height: 120px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 8px 1px rgba(34, 60, 80, 0.17);
    margin-left: 12px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.createList input {
    width: 100%;
    padding: 2px 10px;
    border: 1px solid #cecece;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

.createBtnsContainer {
    display: flex;
}

.createBtnsContainer button {
    height: 36px;
    margin-right: 10px;
}

.backPageIconContainer {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #383838;
    border-radius: 5px;
    transition: all 0.3s;
}

.backPageIconContainer:hover {
    background-color: #DCDFE4;
    cursor: pointer;
}